@import '../../../core.scss';

.connection-button {
  @include variants(background-color, light);
  @include variants(border-color, light);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  border-radius: 50%;
  cursor: pointer;
  width: $g2;
  height: $g2;
  overflow: hidden;
  @media screen and (min-width: $tablet-min) {
    border-width: 2px;
    width: $g4;
    height: $g4;
  }

  &--content {
    padding-top: $g1 / 2;
    font-size: $g2;
    @media screen and (min-width: $tablet-min) {
      padding-top: $g1;
      font-size: $g4;
    }
  }
}
