@import '../../../core.scss';

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &--label {
    flex: 1 1 50%;
    margin-right: $g1;
  }

  &--value {
    display: flex;
    flex: 1 1 auto;
    justify-content: flex-end;
  }

  &--align-top {
    align-items: flex-start;
  }
}
