@import '../../../core.scss';

.operation {
  &--introduction {
    margin-bottom: $g2;
  }

  &--calculation {
    margin-top: $g3;

    &--row {
      &:not(:last-child) {
        margin-bottom: $g3;
      }

      &--content {
        position: relative;
        padding-left: $g4;

        &--icon {
          position: absolute;
          top: $g1 / 2;
          left: 0;
          padding: $g1 / 4;
          font-size: $g1 * 1.5;
        }
      }
    }

    &--divider {
      margin-bottom: $g3;
    }
  }

  &--result {
    margin-top: $g2;
  }
}
