@import '../../../core.scss';

.validate-simulation-page {
  margin: auto;
  padding: $g2 $g2 0;
  max-width: $tablet-max;
  @media screen and (min-width: $tablet-max) {
    padding: $g5 $g3 0;
  }

  &--bubble {
    margin-bottom: $g2;
    @media screen and (min-width: $tablet-min) {
      margin-right: $g5;
      margin-bottom: $g5;
    }
  }

  &--title {
    margin-bottom: $g3;
    @media screen and (min-width: $tablet-min) {
      margin-bottom: $g4;
      margin-left: $g7;
    }
  }

  &--summaries {
    @media screen and (min-width: $mobile) {
      display: flex;
    }
    @media screen and (min-width: $tablet-min) {
      margin-left: $g7;
    }

    &--summary {
      margin-bottom: $g2;
      @media screen and (min-width: $mobile) {
        flex-grow: 1;

        &--new {
          order: 1;
          margin-left: $g2;
        }
      }
    }
  }
}
