@import '../../../core.scss';

.text {
  @include variants('color', 'normal');
  display: inline;
  letter-spacing: 0;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;

  &--inherit {
    color: inherit;
  }

  // sizes
  &--medium {
    line-height: $g3;
    font-size: $g2;
  }

  &--small {
    line-height: $g3 - 2;
    font-size: $g2 - 2;
  }

  &--x-small {
    line-height: $g3 - 4;
    font-size: $g2 - 4;
  }

  // formats
  &--center {
    text-align: center;
  }

  &--bold {
    font-weight: bold;
  }
}
