@import '../../../core.scss';

.multiple-fields {
  @media screen and (min-width: $tablet-min) {
    margin: 0;
  }

  &--content {
    &--component {
      margin-bottom: $g3;
      @media screen and (min-width: $tablet-min) {
        margin-bottom: $g4;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .information-field--input {
    max-width: initial;
  }

  .card {
    overflow: initial;
  }
}
