@import '../../../core.scss';

.privacy-page {
  margin-bottom: $g8;
  @media screen and (min-width: $mobile) {
    margin: $g2 auto $g10 + $g2;
    max-width: $tablet-max;
  }

  &--points {
    margin-bottom: $g7;
  }

  &--delete {
    margin-bottom: $g7;
  }

  &--contact {
    margin-top: $g5;
    margin-bottom: $g2;
  }

  &--actions {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    @media screen and (min-width: $tablet-max + $g9) {
      $distance: calc(50vw - #{$tablet-max / 2 + $g3});
      right: $distance;
      left: $distance;
    }
  }
}
