@import '../../../core.scss';

.spinner-content {
  margin: $g2;
  max-width: 340px;
  text-align: center;

  &--title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: $g2;

    &--emoji {
      margin-right: $g2;
    }
  }
}
