@import '../../../core.scss';

.white-label-partners {
  @media screen and (min-width: $tablet-min) {
    margin: $g3;
    max-width: $tablet-max;
  }
  @media screen and (min-width: $tablet-max + $g6) {
    margin: $g3 auto;
    padding: 0;
  }

  &--content {
    @media screen and (min-width: $tablet-min) {
      display: flex;
      align-items: center;
    }

    &--logo {
      margin-right: $g3;
      text-align: center;
    }
  }
}
